body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2); /* Arka plan rengi lineer gradient */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Canvas özellikleri */
canvas {
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
    background-color: #1f2833;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Başlık özellikleri */
h2 {
    text-align: center;
    color: #1f2833;
}

/* Skor özellikleri */
#score {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/* Maksimum skor özellikleri */
#maxScore {
    text-align: center;
    color: #ccc;
    font-size: 12px;
    margin-top: 2px;
}

